# port de connection
PORT=

# MySQL
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=


# Connexions possible entre Atlas en cloud ou Compass en local

# Mongo Atlas (cloud) cluster0
# MONGO_URI=mongodb://lywautm987:Annabelle291077@ac-zwbvhxm-shard-00-00.yhyaznt.mongodb.net:27017,ac-zwbvhxm-shard-00-01.yhyaznt.mongodb.net:27017,ac-zwbvhxm-shard-00-02.yhyaznt.mongodb.net:27017/MARKET_ADS_MANAGER?ssl=true&replicaSet=atlas-qh6zll-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

# Mongo Local
MONGO_URI=
